<div class="menu">
  <ul>
    <button (click)="goToLogin()">Inicio</button>
    <button (click)="goToPage('/about')">Acerca de</button>
  </ul>
</div>
  
  <div class="image"></div>
  
  <div class="description">
    <h1>Encuentra la mejor plataforma de monitoreo de alertas de seguridad para PYMES </h1>
    <p>Nuestra plataforma proporciona una solución integral para pequeñas y medianas empresas, ofreciéndoles monitoreo en tiempo real y alertas de seguridad personalizadas para garantizar la protección de sus activos más importantes.</p>
  </div>
  
  <div class="footer">
    <div class="footer-content">
        <p>© 2025 Mi Empresa. Todos los derechos reservados.</p>
    </div>
  </div>