<button class="Inicio" (click)="Inicio()">Volver</button>

<div class="about-container">
    <h1>¿Qué es Snort?</h1>
    <p>
      Snort es un sistema de detección de intrusos (IDS) de código abierto que analiza el tráfico de red en tiempo real.
      Permite detectar actividades maliciosas como ataques, escaneos de puertos, y comportamientos sospechosos en general.
    </p>
  
    <h2>¿Por qué usamos Snort?</h2>
    <p>
      Utilizamos Snort porque es una herramienta robusta, flexible y gratuita que ayuda a mejorar la seguridad de las redes,
      especialmente útil para pequeñas y medianas empresas (PYMES) que necesitan proteger su infraestructura digital.
    </p>
  
    <h2>¿Qué puedes ver en esta aplicación?</h2>
    <p>
      Esta plataforma te permite visualizar alertas de seguridad generadas por Snort en tiempo real, filtrarlas por fecha
      y obtener estadísticas que ayudan a monitorear posibles amenazas en tu red.
    </p>
  </div>
  