
<div class="container">
  <!-- Sidebar (barra lateral) -->
  <div class="sidebar" [ngClass]="{ 'closed': !isSidebarOpen }">
    <!-- Topbar (Barra superior) -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>     
      
      <!-- Espaciador para alinear el botón a la derecha -->
      <span class="spacer"></span>
      
      <!-- Botón "Volver a Inicio" alineado a la derecha -->
      <button mat-button (click)="logout()" class="volver-boton">
        Cerrar Sesión
      </button>
    </mat-toolbar>
     
    <ul class="menu">
      <li><button (click)="toggleSection('alertas')">Alertas</button></li>
      <li><button (click)="toggleSection('estadisticas')">Estadísticas</button></li>
      <!--<li><button (click)="toggleSection('config')">Configuraciones</button></li>-->
    </ul>
  </div>

  <!-- Mensaje de bienvenida -->
  <div class="welcome-message" *ngIf="showMensaje">
    <div class="logo-background">
      <h2>Bienvenido a PYMES Shield</h2>
      <p>Verifica las últimas notificaciones de alertas de tu red.</p>
    </div>
  </div>

  <app-estadisticas *ngIf="showEstadisticas" [alertas]="todasLasAlertas"></app-estadisticas>

  <div class="content">
    <!-- Título siempre visible cuando se muestra alertas -->
    <h3 class="titulo-global" *ngIf="showAlertas">Lista de Alertas</h3>

    <div *ngIf="showAlertas" class="alertas">
      <div class="filter">
        <label for="prioridad">Filtrar por prioridad:</label>
        <select id="prioridad" (change)="cambiarFiltro($event)">
          <option value="">Todas</option>
          <option value="Alta">Alta</option>
          <option value="Media">Media</option>
          <option value="Baja">Baja</option>
        </select>
      </div>
      
      <!--Boton PDF-->
      <button (click)="generarPDF()" style="float: right;" mat-icon-button color="primary" aria-label="Generar PDF">
        <span class="material-icons">picture_as_pdf</span>Descargar PDF
      </button>

      <!-- Contenedor de la tabla con scroll -->
      <div class="table-scroll">
      <div class="table-container">
        <table class="alert-table" *ngIf="alertasFiltradas.length > 0">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>IP Origen</th>
              <th>IP Destino</th>
              <th>Mensaje</th>
              <th>Prioridad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let alerta of alertasFiltradas; let i = index">
              <td data-label="Timestamp">{{ alerta.timestamp }}</td>
              <td data-label="IP Origen">{{ alerta.src }}</td>
              <td data-label="IP Destino">{{ alerta.dest }}</td>
              <td data-label="Mensaje" 
                  (click)="toggleMensaje(i)" 
                  [style.maxHeight]="mensajeExpandido === i ? '500px' : '30px'"
                  [style.overflow]="mensajeExpandido === i ? 'auto' : 'hidden'"
                  [style.whiteSpace]="mensajeExpandido === i ? 'normal' : 'nowrap'">
                {{ alerta.details }}
              </td>
              <td data-label="Prioridad">
                <span class="priority" [ngClass]="{
                  'alta': alerta.prioridad === 'Alta',
                  'media': alerta.prioridad === 'Media',
                  'baja': alerta.prioridad === 'Baja'
                }">
                  ● {{ alerta.prioridad }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

      <!-- Mensaje cuando no hay alertas -->
      <div *ngIf="alertasFiltradas.length === 0" class="empty-alert-message" style="text-align: center;">
        No hay alertas disponibles para esta prioridad.
      </div>

      <!-- Paginación -->
      <mat-paginator *ngIf="alertasFiltradas.length > 0"
        [length]="todasLasAlertas.length"
        [pageSize]="alertasPorPagina"
        [pageSizeOptions]="[10, 20, 50, 100]"
        (page)="paginaCambiada($event)"
        aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</div>
